/* Color Pallette */
body {
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff
}

.bg-green {
    background-color: #31a02b
}

/* Text over images */
.text-over-img-bg {
    position: absolute;
    bottom: 0%;
    top: 0%;
    right: 0%;
    left: 0%;
}

.text-over-img {
    position: absolute;
    right: 0%;
    left: 0%;
    top: 35%;
    font-size: calc(0.5rem + 2.5vw);
}

.text-over-img-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Specific Font Size Formulas */
.shrinking-contacts-text {
    font-size: calc(0.25rem + 2vw);
}

.shrinking-cp-text {
    font-size: calc(0.7rem + 0.5vw);
}

/* Object Fir */
.img-contain {
    object-fit: contain;
}

.img-cover {
    object-fit: cover;
    overflow: hidden;
}

/* Growth Animations */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #646464;
    height: 5vh;
}

::-webkit-scrollbar-track {
    background: #0D0D0D;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 54, 54);
}